@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{  box-sizing: border-box;
    margin: 0;
    padding: 0;}

:root{
    --primary-color: #000;
    --secondary-color:#f2f2f2;
    --decoration-color:#c79800; 
    --fondo-color: rgb(169, 194, 178);}

/* fin global */

header { display: flex; 
    justify-content: center;
    width: 100%; height: 20rem; }

#fotoPpal { width:40%; height:18rem;
    padding: 1rem 0px; margin: 0px;
    border-radius: 100%; border-color: transparent;}

#imagen { display: flex;
    justify-content: center;
    width: 40%; height: 20rem;
    background-color:powderblue;}

header #logodiomer { width: 10rem; height: auto;
    animation: spiner infinite linear 2s;
    position: absolute;
    left: 29.5rem;}

@keyframes spiner {
    0% {transform: rotate(0deg);}
    33% {transform: rotate(45deg);}
    66% {transform: rotate(-45deg)}
    100% {transform: rotate(0deg)}
    }

#presentacion {display: flex;
    flex-direction: column; justify-content: center;
    align-items: center;
    width: 60%; height: 20rem;
    background-color: var(--fondo-color);}

header p,
h1 {font-family: 'Nunito', sans-serif;
    text-align: center;
    color:rgb(56, 104, 116) ; 
    margin: 0rem 3rem;}

/* Barra redes */
.social {
	position: fixed; 
	left: 0; 
	top: 8%; /* Para que quede centrada le decimos que al 50% del alto le reste la mitad del alto de la barra: 16px de la letra + 10 padding-top + 10padding-bottom */
	z-index: 2000; }

.social ul { list-style: none;}

.social ul li a {
    display: inline-block; /* porque le quiero agregar padding */
    color:var(--secondary-color);
    background: var(--primary-color);
    padding: 10px 15px;
    transition: all 500ms;}

.social ul li a:hover{
    padding: 10px 30px;
    background-color: black;}

.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .icon-instagram {background: #E4405F;}
.social ul li .icon-linkedin {background:#3b5998;}
.social ul li .icon-whatsapp {background: #25D366;}
.social ul li .icon-mail {background: #666666;}

/* FIN Barra redes */
/* Fin del header */

/* INICIO barra nav */

nav ul { display: flex;
    justify-content: center;
    list-style: none;}

nav ul li {
    margin: 1.5rem;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem; font-weight: bold;}

nav ul li a {position:relative;
    margin:15px;
    font-size:1.2rem;  
    text-decoration: none;
    color: var(--decoration-color)}

nav ul li a::before{
    content: '';
    background-color: paleturquoise;
    position:absolute;
    bottom:-5px;
    height: 4px;
    width: 0px;
    transition: all 500ms;
    visibility:hidden}

nav ul li a:hover::before{
        width: 100%;
        visibility: visible;}

/* Fin barra nav */

#contenido {display: flex;
    font-family: 'Nunito', sans-serif ;}

/* INICIO contenido de la izquierda */
#izquierda {display: flex; flex-direction: column;
    width: 25%;
    }

.item {display: flex; flex-direction: column;
    padding: 0.5rem 0.3rem;
    }

.item h2 { color:var(--secondary-color);
    background: var(--fondo-color);
    font-size: 1.3rem; text-align: center;}
.item p {padding: 0.6rem 0.4rem; text-align: justify;}
.item span {font-weight: bold;
    color: var(--decoration-color)}

/* FIN contenido de la izquierda */


/* INICIO contenido de la derecha */
#derecha {display: flex; flex-direction: column;
    width: 75%; justify-content: space-between;
    align-items: flex-start;}

#experiencia {display: flex;
    justify-content: space-between;
    align-items: center; padding: 2rem;}


.cardExp {display: flex; flex-direction: column;
    justify-content: space-between; 
    width: 33%; height: 30rem; padding: 1rem;
    border-radius: 5%;
    background-color:powderblue;}

.cardExp img {width: 100%; padding: 0.5rem;}

.cardExp hr {width: 100%;
height: 0rem; color: black; z-index: 100;
margin: 0rem; padding: 0rem;}

#certificaciones {display: flex; flex-direction: column;
    justify-content: center; width: 45%;}

.cardCert {display: flex; flex-direction: column;
    justify-content: space-between;
    background-color: var(--fondo-color);
    margin: 0.5rem 2rem; padding: 0rem 1rem;
    width: 100%; height: 8rem;
    border-radius: 3%; position: relative;}
    

.iconCert {z-index: 1000; width: 5rem; height: 35px;
    position: absolute; padding: 0rem; margin: 0rem;
    left: 20rem; top: 5rem; }

.cardCert h3, p {padding: 0.2rem;
font-size: 1.1rem;}

/* FIN contenido de la derecha */




footer{background-color:powderblue;
height: 50px;
display: flex; justify-content: center; 
align-items: center;
font-family: 'Nunito', sans-serif;}


